# MacOS

.DS_Store
.vscode/
build/
#ignore all test files
/**/test/*.*
#except for *.fmj source files
!/**/test/*.fmj
!/**/test/*.txt
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vi temp files
*.swp
